.vs/Modoo - Thread/v15/ipch/f01a7e47fd1fcbc7.ipch
Debug/Modoo - Thread.pdb
Modoo - Thread/Debug/Modoo - Thread.tlog/CL.command.1.tlog
*.tlog
*.log
*.obj
*.pch
*.idb
*.exe
Debug/Modoo - Thread.ilk
*.pdb
.vs/Modoo - Thread/v15/Browse.VC.opendb
.vs/Modoo - Thread/v15/Browse.VC.db
.vs/Modoo - Thread/v15/.suo
